body {
  top: 0%;
  margin: 0;
  padding: 0 ;
  background: #fff5cc;
  font-family: Arial, Helvetica, sans-serif;
}

/* style navbar*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffc107;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 12px 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.logo {
  font-size: 22px;
  font-weight: 800;
  color: #fbfcf7;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-box input {
    width: 100%;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: #fbfcf7;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #333;
}

.search-box input {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 180px;
}

body {
  padding-top: 80px;
}



/*stye Card*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto; 
  padding-top: 95px;
}

.product-section {
  animation: fadeIn 1s ease-in-out;
  padding: 50px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #5a3a00;
  margin-bottom: 20px;
  text-align: center;
}

.card {
  position: relative;
  border: 2px solid #757575;
  background: #fbfcf7d0;
  border-radius: 10px;
  box-shadow:15px 4px 8px #0000000d;
  overflow: hidden;
  top: -70px;
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

/* style Beranda*/
.home-container {
  background: linear-gradient( #ffcc33, #fff5cc);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px; 
}

.home-content {
  color: #5a3a00;
  max-width: 600px;
  animation: fadeIn 1s ease-in-out;
}

.home-text {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}

.home-subtitle {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.home-button {
  background-color: #f9a825;
  color: #fbfcf7;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.home-button:hover {
  background-color: #f58019;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


/*style About*/
.about-container {
  background: #fff5cc;
  min-height: 1vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 70px 20px 50px;
}

.about-content {
  max-width: 800px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #5a3a00;
  margin-bottom: 20px;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

.about-footer {
  font-style: italic;
  font-size: 1.2rem;
  color: #d17d00;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  flex-wrap: wrap; 
  margin-top: 20px;
}

.img {
  width: 30%;          
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 10px #00000033;
  object-fit: cover;   
}

@media (max-width: 768px) {
  .about-image {
    width: 80%;
  }
}


/*style footer*/
.footer {
  background-color: #ffb703;
  color: #2b2b2b;
  text-align: center;
  margin-top: 50px;
  border-top: 3px solid #e89b00;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-address {
  font-size: 14px;
  margin-bottom: 15px;
}

.social-icons a {
  color: #2b2b2b;
  margin: 0 10px;
  font-size: 22px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fbfcf7;
}
